.nav {
    width: 900px;
    height: 100px;
    background-color: gray;
    display: flex;
    align-items: flex-end;
}
.nav-links {
    display: flex;
    align-items: flex-end;
} 
li {
    width: 200px;
    background-color: grey;
    display: flex;
    align-items: normal;
    justify-content: flex-end;
}

